<!DOCTYPE html>
<html>
  <head>
    <title>Lattice Nightly Builds</title>
    <style>
    .commasep { display: inline; list-style: none; padding: 0px; }
    .commasep li { display: inline; }
    .commasep li:after { content: ", "; }
    .commasep li:last-child:after { content: ""; }
    body { font-family: sans-serif; padding: 15px; }
    .artifact { font-family: monospace; font-size: 1.2em; line-height: 1.6em; padding-left: 1em; }
    h2, h3 { margin-bottom: 0px; }
    </style>
  </head>
  <body>
    <div>
      <h2>Release Builds</h2>
      <p>See <a href="https://github.com/cloudfoundry-incubator/lattice/releases">GitHub</a>.
    </div>

    <div>
      <h2>Nightly Builds</h2>
      <% for day in days.keys.sort.reverse %>
      <h3><%= day.strftime('%b %d, %Y') %></h3>
      <% for ver in days[day].keys.sort.reverse %>
      <div class="artifact">
        lattice-bundle-<%= ver %>.zip (<ul class="commasep">
          <% for obj in days[day][ver] %>
          <li><a href="https://<%=s3bucket%>.s3.amazonaws.com/<%= obj[:path] %>"><%= obj[:arch] %></a></li>
          <% end %>
        </ul>)
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</body>
</html>
